.form-group {
	display: flex;
	flex-direction: column;
}

.select-btn-remove {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	margin-bottom: 25px;
}

.select-btn-remove .form-group {
	flex: 1; /* Faz o select ocupar todo o espaço disponível */
}

.select-btn-remove select {
	width: 100%; /* Garante que o select ocupe todo o espaço do flex */
	margin-bottom: 14px;
}

.btn-remove {
	background-color: #ff4d4d; /* Vermelho suave */
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-remove:hover {
	background-color: #cc0000; /* Vermelho mais escuro ao passar o mouse */
}

.add-btn-exercicio {
	padding: 10px 20px; /* Adiciona padding ao redor do texto */
	background-color: #4caf50; /* Cor verde para indicar ação positiva */
	border: none; /* Remove a borda */
	border-radius: 6px; /* Bordas arredondadas */
	color: white; /* Texto branco */
	font-size: 16px; /* Tamanho da fonte */
	font-weight: bold; /* Deixa o texto em negrito */
	text-transform: uppercase; /* Transforma o texto para maiúsculas */
	cursor: pointer; /* Mostra o cursor como mãozinha */
	transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave nas interações */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para o botão */
	margin-bottom: 20px;
	width: 50%;
}

.add-btn-exercicio:hover {
	background-color: #45a049; /* Cor um pouco mais escura ao passar o mouse */
	transform: translateY(-2px); /* Leve animação ao passar o mouse */
}

.add-btn-exercicio:focus {
	outline: none; /* Remove o contorno padrão ao clicar */
	box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5); /* Destaca o botão com a cor verde ao focar */
}

.treinos-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.btn-edit-delete {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.btn-edit-treino,
.btn-remove-treino {
	padding: 2px;
	width: 20%;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s ease;
}

.btn-edit-treino {
	background-color: #007bff;
	color: white;
}

.btn-edit-treino:hover {
	background-color: #0056b3;
}

.btn-remove-treino {
	background-color: #dc3545;
	color: white;
}

.btn-remove-treino:hover {
	background-color: #a71d2a;
}

.serie-repeticao-container {
	display: flex;
	flex-direction: column;
}

#serie {
	margin-bottom: 4px;
}
