.navigation-bar-container {
	background-color: #201b2c;
	position: fixed; /* Torna a barra fixa */
	top: 0; /* Fixa no topo */
	left: 0;
	width: 100%; /* Ocupa toda a largura */
	z-index: 1000; /* Garante que fique acima de outros elementos */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.home-button {
	background: none;
	border: none;
	color: white;
	font-size: 25px;
	cursor: pointer;
	text-decoration: none;
	padding: 0;
	font-weight: 500;
}

.home-button:hover {
	text-decoration: underline;
}

.home-button:active {
	transform: scale(1.05);
}

.logout-button {
	background: none;
	border: none;
	color: white;
	font-size: inherit;
	cursor: pointer;
	text-decoration: none;
	padding: 0;
	font-weight: 500;
	margin-right: 30px;
}

.logout-button:hover {
	text-decoration: underline;
}

.logout-button:active {
	transform: scale(1.05);
}
