.navigation-bar-container {
	background-color: #1b1b1b;
	position: fixed; /* Torna a barra fixa */
	z-index: 1000; /* Garante que fique acima de outros elementos */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.home-icon {
	width: 40px;
	height: 40px;
	filter: invert(1);
	margin-left: 20px;
}

.home-icon:hover {
	cursor: pointer;
}

.home-icon:active {
	transform: scale(1.05);
}

.logout-icon {
	width: 35px;
	height: 35px;
	filter: invert(1);
	margin-right: 20px;
}

.logout-icon:hover {
	cursor: pointer;
}

.logout-icon:active {
	transform: scale(1.05);
}
