.user-informacoes {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.user-informacoes {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.user-informacoes h1 {
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 1.9em;
}

.span-home {
	font-weight: 300;
}

.user-informacoes div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.treinos-concluidos {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 30px;
}

.treinos-concluidos h2 {
	font-weight: 400;
}
