@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: Lexend, Arial, Helvetica, sans-serif;
}

.sidebar-pages-container {
	min-height: calc(100vh - 0px);
	width: 100%;
	overflow: hidden; /* Impede rolagem desnecessária */
}

.form-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
	z-index: 1000;
	animation: slideDown 0.2s ease-out;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

.form-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
	z-index: 999;
	cursor: pointer; /* Para clicar e fechar */
}

.form-content {
	background-color: white;
	padding: 20px;
	max-width: 500px; /* Tamanho máximo do formulário */
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1001;
	overflow: hidden; /* Para garantir que nada ultrapasse o border-radius */
	overflow-y: auto;
	max-height: 80vh;
}

.form-content h2 {
	margin-bottom: 20px;
	text-align: center;
}

.form-add {
	display: flex;
	flex-direction: column;
}

.form-add label {
	margin-bottom: 10px;
	text-align: justify;
}

.form-add input {
	padding: 10px;
	border: 2px solid #6a5acd;
	border-radius: 6px;
	font-size: 16px;
	outline: none;
	transition: 0.3s ease-in-out;
	margin-bottom: 30px;
}

.form-add input:focus {
	border-color: #836fff;
	box-shadow: 0 0 8px rgba(106, 90, 205, 0.5);
}

.form-add select {
	padding: 10px;
	border: 2px solid #6a5acd;
	border-radius: 6px;
	font-size: 16px;
	outline: none;
	transition: 0.3s ease-in-out;
	margin-bottom: 30px;
}

.form-add select:focus {
	border-color: #836fff;
	box-shadow: 0 0 8px rgba(106, 90, 205, 0.5);
}

.add-btn {
	padding: 10px;
	background: linear-gradient(45deg, #273ec2, #0025f5);
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.add-btn:hover {
	background: linear-gradient(45deg, #0025f5, #273ec2);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.add-btn:active {
	transform: scale(0.98);
}

.delete-btns {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
	margin-top: 20px;
}

.delete-btns button {
	padding: 10px;
	background: linear-gradient(45deg, #cd5a5a, #ef5063);
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.delete-btns button:hover {
	background: linear-gradient(45deg, #ef5063, #cd5a5a);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}
.delete-btns button:last-child {
	padding: 10px;
	background: linear-gradient(45deg, #273ec2, #0025f5);
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.delete-btns button:last-child:hover {
	background: linear-gradient(45deg, #0025f5, #273ec2);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.delete-btns button:active {
	transform: scale(0.98);
}

.logo {
	width: 200px;
	height: 200px;
}

.container-page {
	margin-top: 100px;
	transition: margin-left 0.3s ease;
	padding: 20px;
	margin-left: 50px; /* Padrão sem a sidebar visível */
}

.side-bar-container:hover ~ .container-page {
	margin-left: 111px; /* Empurrando o conteúdo para a direita quando a sidebar é expandida */
}

.tittle {
	text-align: center;
}

.container-subtitle-btns {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	margin-top: 20px;
	justify-content: space-between;
	margin-right: 70px;
	transition: margin-right 0.3s ease;
}

.side-bar-container:hover ~ .container-page .container-subtitle-btns {
	margin-right: 10px;
}

.container-subtitle-btns h2 {
	display: flex;
	align-items: last baseline;
}

.container-filtros-btns {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
}

.theme-toggle {
	margin-right: 1420px;
}

.toast-container {
	position: fixed;
	top: 100px;
	right: 20px;
	z-index: 1001;
}

.toast-container.auth {
	top: 30px;
	right: 20px;
	z-index: 1001;
}
