.sidebar-pages-container {
	background-color: rgb(102, 63, 144);
	overflow: hidden; /* Impede rolagem desnecessária */
}

.exercicios-list {
	margin-left: 250px;
	margin-top: 100px;
	background-color: rgba(255, 255, 255, 0.095);
	position: relative;
	border-radius: 10px;
	backdrop-filter: blur(8px);
	padding: 20px;
	flex-grow: 0; /* Removendo a expansão automática */
	max-width: 800px; /* Define uma largura máxima */
	width: 80%; /* Define a largura como 80% do contêiner */
	margin-right: auto; /* Mantém centralizado */
	margin-left: auto; /* Mantém centralizado */
	margin-bottom: 20px;
}

.h2-addbutton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.h2-addbutton h2 {
	color: white;
}

.add-exercise-btn {
	padding: 8px;
	border: none;
	border-radius: 6px;
	background: linear-gradient(45deg, #6a5acd, #836fff);
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.add-exercise-btn:hover {
	background: linear-gradient(45deg, #836fff, #6a5acd);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.add-exercise-btn:active {
	transform: scale(0.98);
}

.form-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
	z-index: 1000;
	animation: slideDown 0.2s ease-out;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

.form-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
	z-index: 999;
	cursor: pointer; /* Para clicar e fechar */
}

.form-content {
	background-color: white;
	padding: 20px;
	max-width: 500px; /* Tamanho máximo do formulário */
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1001;
	overflow: hidden; /* Para garantir que nada ultrapasse o border-radius */
}

.form-content h2 {
	margin-bottom: 20px;
	text-align: center;
}

.form-add-exercicio {
	display: flex;
	flex-direction: column;
}

.form-add-exercicio label {
	margin-bottom: 10px;
	text-align: justify;
}

.form-add-exercicio input {
	padding: 10px;
	border: 2px solid #6a5acd;
	border-radius: 6px;
	font-size: 16px;
	outline: none;
	transition: 0.3s ease-in-out;
	margin-bottom: 30px;
}

.form-add-exercicio input:focus {
	border-color: #836fff;
	box-shadow: 0 0 8px rgba(106, 90, 205, 0.5);
}

.form-add-exercicio button {
	padding: 10px;
	background: linear-gradient(45deg, #6a5acd, #836fff);
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.form-add-exercicio button:hover {
	background: linear-gradient(45deg, #836fff, #6a5acd);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.form-add-exercicio button:active {
	transform: scale(0.98);
}

.list-btns li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}

.list-btns span {
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
}

.edit-delete-btns {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.edit-delete-btns button {
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.edit-delete-btns button:first-child {
	background-color: #3498db;
	color: white;
}

.edit-delete-btns button:first-child:hover {
	background-color: #2980b9;
}

.edit-delete-btns button:last-child {
	background-color: #e74c3c;
	color: white;
}

.edit-delete-btns button:last-child:hover {
	background-color: #c0392b;
}

.form-delete-exercicio {
	display: flex;
	flex-direction: column;
}

.form-delete-exercicio label {
	text-align: center;
}

.delete-btns {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
	margin-top: 20px;
}

.delete-btns button {
	padding: 10px;
	background: linear-gradient(45deg, #6a5acd, #836fff);
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.delete-btns button:hover {
	background: linear-gradient(45deg, #836fff, #6a5acd);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}
.delete-btns button:last-child {
	padding: 10px;
	background: linear-gradient(45deg, #cd5a5a, #ef5063);
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.delete-btns button:last-child:hover {
	background: linear-gradient(45deg, #ef5063, #cd5a5a);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.delete-btns button:active {
	transform: scale(0.98);
}
